@import "../../scss/variables";

.content {
  background-color: $basic;
  color: $white;

  &__sort {
    display: flex;
    align-items: center;
    position: relative;
    left: -40px;
    min-width: 250px;
    top: 5px;

    label {
      white-space: nowrap;
    }

    select {
      margin-left: 2rem;
    }
  }

  &__panel {
    @media (max-width: 960px) {
      font-size: 0.8em;
    }
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: -0.4px;
    border-bottom: 3px solid $basic-light;
  }

  &__total {
    margin: 1.6rem 0;
    font-size: 1.2em;
  }

  &__number {
    font-weight: 600;
  }

  &__sort {
    label {
      color: $basic-light;
      font-weight: 600;
    }
  }
}
