@import "src/scss/variables";

.movie-item {
  height: 620px;
  width: 100%;
  background-image: linear-gradient(to top,rgba(0,0,0,.85) 2%,rgba(0,0,0,.85) 100%), url($bg-path);
  background-size: cover;
  color: $white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__poster {
    flex: 1 0 30%;
    max-width: 300px;
  }

  &__info {
    margin: 0 4rem;
    flex: 2 1 70%;
  }

  &__title {
    display: inline-block;
    max-width: 80%;
    margin: 2rem 2rem 2rem 0;
    font-size: 3em;
    letter-spacing: 1px;
  }

  &__rating {
    display: inline-block;
    text-align: center;
    width: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 1.8em;
    color: $success;
    border: 1px solid $white;
    border-radius: 50%;
  }

  &__release, &__runtime {
    font-size: 1.6em;
    color: $brand;
    margin-bottom: 2rem;
  }

  &__release {
    margin-right: 2rem;
  }

  &__overview {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 28px;
    max-height: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }

  &__search {
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: $brand-hover;
    }
  }
}
