@import "../../scss/variables";

.select {

  &__wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__arrow {
    position: relative;
    left: -5%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $brand;
  }

  select {
    width: 100%;
    min-width: 100%;
    min-height: 50px;
    border-radius: 4px;
    padding: 5px 15px;
    box-sizing: border-box;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }

  option {
    background: $basic;
    border: none;
  }
}

.modal {

  select {
    background: rgba($basic-bright, 0.5);
    color: $white;
  }
}
